<h1>Christian Villalpando Marquez</h1>

<h1>Formulario</h1>


<form method="get">
 <span>Nombre</span><input type="text" name="nombre"><br>
 <span>Email</span><input type="text" name="email"><br>
 <span>Edad</span><input type="number" name="edad"><br>
 <input type="submit"value="Enviar">
</form>

<h3>
	Su nombre es: <%= @nombre %>,
	 su mail es: <%= @email %>,
	 su edad es :<%= @edad %>
	 .
</h3>