<h1>Christian Villalpando Marquez</h1>

<h1>Formulario</h1>


<form method="POST" action="<%= pages_guardar_registro_path %>">
 <span>Nombre</span><input type="text" name="nombre"><br>
 <span>Email</span><input type="text" name="email"><br>
 <span>Edad</span><input type="number" name="edad"><br>
 <input type="submit"value="Enviar">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<p class="alert alert-success"> <%= flash[:notice] %> </p>